<div id="<%= dom_id activity %>">
  <div>
    <strong>Title:</strong>
    <%= activity.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= activity.description %>
  </div>

  <div>
    <strong>Location:</strong>
    <%= activity.location %>
  </div>

  <div>
    <strong>City:</strong>
    <%= activity.city %>
  </div>

  <div>
    <strong>Category:</strong>
    <%= activity.category %>
  </div>

  <div>
    <strong>Event date:</strong>
    <%= activity.event_date %>
  </div>

</div>
