<%= form_with(model: activity) do |form| %>
  <% if activity.errors.any? %>
    <div class="alert alert-danger">
      <h2 class="h5"><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.textarea :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :location, class: "form-label" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :city, class: "form-label" %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category, class: "form-label" %>
    <%= form.text_field :category, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :event_date, class: "form-label" %>
    <%= form.date_field :event_date, class: "form-control" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
